<div style="border: 1px solid; border-color: #084d6e; border-radius: 10px; background-color: whitesmoke">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div *ngIf="isDiag">
                <div *ngFor="let diag of listDiagnostico" style="padding: 5px" (click)="renderSintomas(diag.id)">
                    <div class="card">
                        <div class="card-header text-center" style="background-color: #013243; color: white;">
                            {{diag.titulo}}
                        </div>
                    </div>
                </div>
            </div>
            <app-sintomas *ngIf="!isDiag" (sintomas)="atualizaManchester()" (isDiag)="renderDiagnosticos()" [idDiagnostico]="idDiagnostico"></app-sintomas>
        </div>
        <div class="col-md-2">
            <app-classificacao-manchester></app-classificacao-manchester>
        </div>
    </div>
</div>