
# compiled output
/dist
/tmp
bin/
obj/

# Node modules
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
.vs/
*.launch
.settings/
*.sublime-workspace
*.user
*.coverage

# System Files
.DS_Store
Thumbs.db

build/
__pycache__/
*.pytest_cache/
local_settings.py
*.py[cod]
*.swp
*.log
.DS_Store
.env
.venv
env/
*.eggs
*.egg-info
venv/
.vscode
.idea
.cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
notes.md
celerybeat-schedule
.coverage