.MuitoUrgente{
    background-color: #FFA500
}

.Emergente{
    background-color: #e70d0d
}

.Urgente{
    background-color: #e4f025
}

.PoucoUrgente{
    background-color: #08a90b
}

.NaoUrgente{
    background-color: #15178d
}